.footer {
  margin-top:$space-lg;
  &__social {
    width: 100%;
    display: block;
    text-align: center;
    margin:0 auto $space-sm auto;
    max-width: 365px;
    padding: 0;
    @include radius(6px);
    li {
      display: inline-block;
      margin: 0 $space-sm $space-sm 0;
      @media all and(min-width:$screen-sm) {
        margin: 0 $space-sm;
      }
      a {
        color: $green;
        i {
          font-size: 20px;
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  &__copyright {
    text-align: center;
    color: $light-grey;
    font-size:.8rem;
    font-family:$haBody;
    margin-bottom: $space-md;
    a{
      color:$green;
      text-decoration:none;
    }
  }
  &__logo {
    @include transition(all 350ms ease-in-out);
    padding: 0 $space-sm;
    margin-bottom:$space-lg;
    &-img {
      max-width: $space-sm;
      margin: 0 auto;
      display: block;
    }
  }
}