$varWidth: 1200px;
.main {
  @include clearfix();
  margin-bottom:$space-md;
  &__contentBlock {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    video {
      position: absolute;
      left: 0;
      top: 50%;
      width: 200%;
      height: 2000px;
      margin-top: -1000px;
    }
    @media all and (min-width: $varWidth) {
      width: 50%;
      &-full {
        width: 100%;
      }
    }
    &-wrap {
      background: #0a0a0a;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      width: 95%;
      border-top: 1px solid #1d1d1d;
      -webkit-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.15);
      box-shadow: 0px 8px 10px -1px rgba(0,0,0,0.15);
      @media all and (min-width: 600px) {
        width: 85%;
        max-width: 1372px;
      }
      @media all and (min-width: $varWidth) {
        flex-direction: row;
      }
      @include clearfix();
    }
    &--left {
      background: $mid-grey;
    }
    &--right {
      display: flex;
      flex-direction: column;
    }
    &-contentWrap {
      z-index: 1;
      position: relative;
    }
    &-newsLink {
      @include transition(all 250ms ease-in-out);
      height:100%;
      padding: $space-md;
      background: #1e1e1e;
      position: relative;
      overflow: hidden;
      img {
        position: absolute;
        left: 0;
        top: 0;
        opacity: .1;
        width: 100% !important;
        height: 100% !important;
      }
      & .hasBg {
        &:after {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          content: "";
          background: red;
        }
      }
      &:hover {
        @include transition(all 250ms ease-in-out);
        position: relative;
        background: #2b2a2a;
        &:before {
          content: "";
          height: 2px;
          width: 100%;
          top: 0;
          background: $green;
          left: 0;
          position: absolute;
        }
      }
      &-node{
        border:none;
        @media all and (min-width: $screen-md) {
          border-right:1px solid $accent-grey;
          &:last-child{
            border:none;
          }
        }

      }
    }
    &-blurb {
      padding: 170px;
      color: #b8b8b8;
      text-align: center;
      margin: 0;
      font-size: 1rem;
      font-family: $haBody;
      background: rgba(17, 17, 17, 0.85);
      z-index: 1;
      position: relative;
      height: 100%;
      span {
        color: $green;
      }
      a {
        color: white;
        text-decoration: underline;
        @include transition(all 250ms ease-in-out);
        &:hover {
          @include transition(all 250ms ease-in-out);
          color: $green;
        }
      }
      @media all and (min-width: $screen-md) {
      }
      @media all and (max-width: 1667px) {
        padding: $space-lg;
        padding-top: 173px;
      }
      @media all and (max-width: 1200px) {
        padding: $space-lg;

      }
      @media all and (max-width: 480px) {
        padding: $space-md;
      }
    }
    &-content {
      display: flex;
      height: 50%;
      padding: $space-lg;
      a {
        color: white;
        text-decoration: none;
      }
      &--feat {
        flex-direction: column;
        text-decoration: none;
        background-position-x: 70%;
        background-position-y: center;
        background-size: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(32, 32, 32);
        color: white;
        padding: $space-md;
        i {
          @include transition(all 250ms ease-in-out);
          transform: scale(1);
        }
        @media all and (min-width: $varWidth) {
          padding: $space-lg;
        }
        @include transition(all 250ms ease-in-out);
        &:before {
          content: "";
          height: 2px;
          width: 100%;
          top: 0;
          background: $green;
          left: 0;
          position: absolute;
          opacity: 0;
          @include transition(all 250ms ease-in-out);
        }
        &:hover {
          @include transition(all 250ms ease-in-out);
          position: relative;
          background-color: #2b2a2a;
          background-position-x: 71%;
          i {
            @include transition(all 250ms ease-in-out);
            //transform: scale(1.3);
          }
          &:before {
            opacity: 1;
            @include transition(all 250ms ease-in-out);
          }
        }
      }
      &--news {
        display: flex;
        height:100%;
        flex-direction: column;
        @media all and (min-width: $screen-md) {
          display: flex;
          flex-direction: row;
        }
        padding: 0;
        @include clearfix();
        .main__contentBlock-newsLink {
          box-sizing: border-box;
          width: 100%;
          float: none;
          img {
            width: 100%;
            height: 100%;
            @media all and (min-width: $screen-sm) {
              height: auto;
            }
          }
          @media all and (min-width: $screen-md) {
            width: 33.33%;
            float: left;
            img {
              width: auto;
            }
          }
        }
      }
    }
    &-heading {
      font-family: $altHead;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      .fa {
        color: $green;
      }
      &-team {
        font-size: 17px;
        padding-top: 0;
        border-bottom: 1px solid #323535;
        margin-bottom: $space-md;
      }
    }
    &-subhead {
      font-family: $haHead;
      font-size: 25px;
      margin-bottom: $space-md;
      &--news {
        font-size: 20px;
        max-height: 100px;
        overflow: hidden;
        &-feat{
         height:auto;
          overflow: hidden;
          text-overflow: ellipsis;
          @media all and (min-width: $screen-md) {
            height: 82px;
          }
        }
      }
    }
    &-descrip {
      font-family: $haBody;
      font-size: 1rem;
      max-height: 90px;
      overflow: hidden;
    }
  }
  &__featChannel {
    background-position-x: 70%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: black;
    width: 100%;
    float: none;
    @media all and (min-width: $varWidth) {
      width: 50%;
      float: left;
    }
    a {
      color: white;
      text-decoration: none;
      i {
        @include transition(all 250ms ease-in-out);
      }
      @include transition(all 250ms ease-in-out);
      &:hover {
        @include transition(all 250ms ease-in-out);
        i {
          @include transition(all 250ms ease-in-out);
          padding-right: 14px;
        }
        color: $green;
      }
    }
    &-QC {
      background-image: url('../img/featImg-QC.jpg');
      position: relative;


      &:after{
        content:"";
        height:1px;
        width:100%;
        background-color:$accent-grey;
        right:0;
        bottom:0;
        z-index:1;
        position:absolute;
      }
      @media all and (min-width: $varWidth) {
        &:after{
          content:"";
          height:100%;
          width:1px;
          background-color:$accent-grey;
          right:0;
          top:0;
          z-index:1;
          position:absolute;
        }
      }

    }
    &-MV {
      background-image: url('../img/featImg-MV.jpg');
    }
    .main__contentBlock-subhead {
      max-width: 93%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .teamSocial {
      display: block;
      widtH: 100%;
      padding-top: $space-sm;
      font-size: 16px;
      float: none;
      a {
        &:hover {
          i {
            padding-right: 0;
          }
        }
      }
      a:first-child {
        padding-left: 0;
      }
      @media all and (min-width: $screen-md) {
        display: inline;
        width: auto;
        padding-top: 0;
        float: right;
        a:first-child {
          padding-left: $space-sm;
        }
      }
    }
    &:before{
      content: "";
      height: 2px;
      width: 100%;
      top: 0;
      background: $green;
      left: 0;
      position: absolute;
      opacity:0;
        @include transition(all 200ms ease-in-out);
    }
    &:hover {
      position: relative;
      &:before {
          @include transition(all 200ms ease-in-out);

        opacity:1;
      }
    }
    .SmLetter{
      font-size:14px;
    }
  }
  &__heading {
    color: #fff;
    text-align: center;
    @include transition(all 950ms ease-in-out);
    font-size: 2em;
  }
  &.podcast{
    max-height:500px;
  }
  @include transition(all 700ms ease-in-out);
  opacity: 1;
}

body.no-js {
  .main {
    @include transition(all 700ms ease-in-out);
    opacity: 0;
  }
}

