// FONTS
$haHead: 'Source Sans Pro', sans-serif;
$haBody: 'Open Sans', sans-serif;
$altHead: 'Montserrat', sans-serif;

// COLORS
$green: #c1d94f;
$dark-grey: #171717;
$mid-grey: rgba(255, 255, 255, 0.05);
$accent-grey:#1d1d1d;
$light-grey: #b8b8b8;
$white: #FFFFFF;

// SPACERS 
$space-xs: 8px;
$space-sm: 16px;
$space-md: 32px;
$space-lg: 64px;
$space-xl: 128px;

// BREAKPOINTS
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 400px;

//MISC
$varWidth: 1200px;
